
body{
   
    background: url(piano.jpg);
    width: 450;
    height: 650;
    background-size: 100%;
    
    
}
div.kk
{
    position: absolute;
    bottom: 20;
}
.kp{
    position: absolute;
    bottom: 50;
}
table{
     color: white;
    border-collapse: collapse;
    border: blue;
}
